* {
  box-sizing: border-box;
}

:root {
  --primary-color: #10375c;
  --heading-color: #0d1111;
  --desc-color: #767e7e;
}

html {
  font-size: 62.5%;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}

.btn {
  display: inline-flex;
  height: 60px;
  min-width: 205px;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  color: #ffffff;
  line-height: 100%;
  border-radius: 99px;
  background-color: #2e80ce;
  cursor: pointer;
}
