* {
  box-sizing: border-box;
}

:root {
  --primary-color: #10375c;
  --heading-color: #0d1111;
  --desc-color: #767e7e;
}

html {
  font-size: 62.5%;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}

/* logo */

.logo {
  font-family: "Sora", sans-serif;
  display: inline-flex;
  position: relative;
  display: flex;
  font-size: 1rem;
}

.logo__circle {
}

.logo__circle::before,
.logo__circle::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
}

.logo__circle::before {
  background: #2e80ce;
  width: 3em;
  height: 3em;
}

.logo__circle::after {
  content: "";
  top: 1.1em;
  left: 1.1em;
  position: absolute;
  background: #ffffff;
  width: 1.6em;
  height: 1.6em;
}

.logo__text {
  margin-left: 0.6em;
  text-align: right;
  line-height: 1.6em;
}

.logo__brand {
  display: block;
  font-size: 1.8em;
  font-weight: 400;
  color: #ffffff;
}

.logo__brand--small {
  font-weight: 300;
  font-size: 1.2em;
}

/* more */
.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.btn {
  display: inline-flex;
  height: 60px;
  min-width: 205px;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  color: #ffffff;
  line-height: 100%;
  border-radius: 99px;
  background-color: #2e80ce;
  cursor: pointer;
}

.section__heading {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 60px; /* 120% */
  letter-spacing: -1px;
}
.section__desc {
  margin-top: 18px;
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 30px; /* 166.667% */
}
.control {
  display: flex;
  gap: 18px;
}
.ctrl-btn {
  width: 36px;
  height: 36px;
  outline: none;
  margin: 0;
  border-radius: 50%;
  border: 1px solid #575f66;
  background: #fff;
  transition: 0.25s;
}
.ctrl-btn:hover {
  background: #2e80ce;
  cursor: pointer;
  border: none;
}

.ctrl-btn:hover i {
  color: #ffffff;
}

.ctrl-btn i {
  color: #575f66;
}
